.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a:hover {
    background-color: #111;
  }
  a {
    float: left;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
 .about{
  background-color: cyan;

 }
 .about{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
 }
 .resume{
  background-color: rgb(206, 157, 24);
 }
 .work{
  background-color: rgb(206, 157, 24);
 }
 footer{
  background-color: #111;
  color: azure;
  display: flex;
  flex-direction: row;

 }
